.audience {
  background-color: $turquoise-background;
  padding: 50px 15px;
  @include full-version {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 983px;
    padding: 108px 131px 110px 130px;
  }
  &__small-title {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    min-height: 34px;
    line-height: 34px;
    margin: 0px 0px 17px 0px;
    @include full-version {
      max-width: 168px;
      margin-bottom: 24px;
    }
  }
  &__big-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    min-height: 80px;
    line-height: 40px;
    margin: 0px 0px 18px 0px;
    letter-spacing: -0.35px;
    @include full-version {
      font-size: 56px;
      min-height: 112px;
      line-height: 56px;
      max-width: 555px;
      margin-bottom: 30px;
      letter-spacing: -0.5px;
    }
  }
  &__description {
    text-align: center;
    min-height: 136px;
    line-height: 34px;
    font-size: 24px;
    margin: 0px 0px 30px 0px;
    @include full-version {
      font-size: 24px;
      min-height: 72px;
      line-height: 34px;
      max-width: 555px;
      margin: 0;
    }
  }
  &__buttons {
    margin-bottom: 40px;
    @include full-version {
      display: flex;
      position: absolute;
      top: 414px;
      left: 536px;
    }
    &_action-call {
      margin-bottom: 12px;
      @include full-version {
        flex-shrink: 0;
      }
    }
    &_learn-more {
      color: $text;
      @include full-version {
        flex-shrink: 0;
      }
    }
  }
  &__pics {
    @include full-version {
      display: flex;
      margin-top: auto;
      justify-content: space-between;
      width: 100%;
    }
    & > .audience-pics__unit {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 300px;
      background-color: $white;
      border-radius: 8px;
      margin: 0px 0px 15px 0px;
      padding: 22px 0px 33px 0px;
      @include full-version {
        width: 262px;
        margin-bottom: 0px;
      }
      & > .audience-pics__unit-subtitle {
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        height: 28px;
        line-height: 28px;
        margin-top: 22px;
      }
      &:hover {
          cursor: pointer;
          background-color: $blue;
        & > .audience-pics__unit-subtitle {
          color: $white;
        }
      }
      &_bottom {
        margin-bottom: 0;
      }
    }
  }
}