* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  color: $text;
  & .webpage {
    width: 100%;
    @include full-version {
      max-width: 1400px;
      margin: auto;
    }
  }
}
.action-button {
  background-color: $blue;
  color: $white;
  width: 100%;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  margin-bottom: 15px;
  @include full-version {
    max-width: 160px;
    margin-bottom: 0;
  }
}
.learn-more-button {
  color: $blue;
  font-size: 18px;
  font-weight: 700;
  height: 48px;
  width: 100%;
  border-radius: 2px;
  border: none;
  background: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
  inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  @include full-version {
      max-width: 158px;
      margin-left: 10px;
  }
}