.customers {
  display: flex;
  flex-direction: column;
}
.customers__mobile-version-line {
  display: flex;
}
.customers__item {
  max-width: 107px;
  height: 94px;
  border-bottom: solid 1px rgba(227, 227, 227, 1);
  border-right: solid 1px rgba(227, 227, 227, 1);
  display: flex;
  flex: 1;
}
.customers__item:nth-child(3),
.customers__item:last-child {
  border-right: none;
}
.customers__logo {
  filter: brightness(0) opacity(0.9);
  margin: auto;
  max-width: 70%;
}
.customers__logo_apple {
  max-width: 30%;
}
.customers__logo_wsj {
  max-width: 50%;
}
@media screen and (min-width: 321px) {
  .customers {
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
  }
  .customers__mobile-version-line {
    flex: 1;
    justify-content: space-between;
  }
  .customers__item {
    border: none;
  }
  .customers__item_forbes {
    max-width: 111px;
  }
  .customers__item_mashable {
    max-width: 153px;
  }
  .customers__item_new-york-times {
    margin-left: 130px;
  }
  .customers__item_google {
    max-width: 127px;
    margin-right: 130px;
  }
  .customers__item_apple {
    margin-right: 70px;
  }
  .customers__logo {
    max-width: 100%;
  }
}
