
.features {
  display: none;
  position: relative;
  padding-top: 5px;
  @include full-version {
    display: flex;
  }
  &__left-bar-picture {
    height: 166px;
    position: absolute;
    top: 258px;
  }
  &__info-section {
    padding-left: 126px;
    &_upper-title {
      font-weight: 700;
      font-size: 22px;
      line-height: 34px;
      color: $green;
      margin: 0;
      padding-left: 2px;
      min-height: 34px;
    }
    &_big-title {
      font-weight: 700;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
      margin: 0;
      padding-top: 24px;
      max-width: 462px;
    }
    &_description {
      font-size: 24px;
      line-height: 34px;
      padding-top: 30px;
      max-width: 461px;
      margin-bottom: 0;
      padding-left: 2px;
      margin: 0;
      min-height: 132px;
    }
    &_blue-title-container {
      padding-top: 42px;
      display: flex;
      padding-left: 3px;
      min-height: 70px;
      & > .features__info-section_blue-title {
        margin: 0;
        padding-left: 15px;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: $blue;
      }
    }
    &_blue-title-text {
      font-size: 18px;
      line-height: 26px;
      max-width: 459px;
      margin: 0;
      padding-top: 8px;
      padding-bottom: 18px;
      border-bottom: 3px solid $blue;
      padding-left: 3px;
      min-height: 81px;
    }
  }
  &__selling-point-container {
    border-bottom: 1px solid $grey-line;
    padding-top: 20px;
    padding-bottom: 22px;
    display: flex;
    padding-left: 4px;
    min-height: 71px;
    &_text {
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      padding-left: 15px;
      padding-top: 3px;
    }
    &:last-child > .features__selling-point-container_text {
      padding-top: 2px;
    }
  }
  &__selling-point-container_bottom {
    padding-top: 21px;
    padding-bottom: 24px;
  }
  &__banner {
    position: relative;
    margin-left: auto;
    filter: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08));
    max-height: 597px;
  }
}
