
.features {
  display: none;
  @include full-version {
    display: flex;
    position: relative;
    padding-bottom: 103px;
  }

  &__left-bar-picture {
    position: absolute;
    top: 258px;
    height: 166px;
  }

  & .product-info {
    padding-left: 126px;

    &__upper-title {
      font-weight: 700;
      font-size: 22px;
      line-height: 34px;
      color: $green;
      margin: 0;
      padding-left: 2px;
    }

    &__big-title {
      font-weight: 700;
      font-size: 56px;
      max-width: 462px;
      line-height: 56px;
      margin: 0;
      padding-top: 24px;
      letter-spacing: -0.5px;
    }

    &__selling-text_main {
      font-size: 24px;
      line-height: 34px;
      min-height: 132px;
      max-width: 461px;
      margin: 0;
      padding: 30px 0px 0px 2px;
    }

    & .blue-sells-point-container {
      display: flex;
      align-items: flex-start;
      min-height: 70px;
      padding-top: 42px;
      padding-left: 3px;

      &__title {
        color: $blue;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        margin: 0;
        padding-left: 15px;
        &:hover {
        cursor: pointer;
      }
      }
    }

    &__selling-text_for-blue-sells-title {
      font-size: 18px;
      min-height: 81px;
      line-height: 26px;
      max-width: 459px;
      border-bottom: 3px solid $blue;
      padding: 8px 0px 18px 3px;
      margin: 0;
    }

    & .selling-point {
      display: flex;
      min-height: 71px;
      border-bottom: 1px solid $grey-line;
      padding: 20px 0px 22px 4px;

      &__text {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        padding: 3px 0px 0px 15px;
      }
    }

    & .selling-point_bottom {
      padding: 21px 0px 24px 0px;
    }
  }
  
  &__banner {
    margin-left: auto;
    filter: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08));
    max-height: 597px;
  }
}
