.feedback {
  border-bottom: 1px solid $grey-line;
  padding: 39px 15px 50px 15px;
  @include full-version {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0px 130px 66px 130px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: $blue;
    min-height: 120px;
    line-height: 30px;
    margin: 20px 0px 29px 0px;
    @include full-version {
      text-align: center;
      min-height: 30px;
      margin-bottom: 28px;
    }
  }

  &__text {
    font-size: 24px;
    min-height: 307px;
    line-height: 34px;
    margin: 0px 0px 32px 0px;
    @include full-version {
      text-align: center;
      max-width: 750px;
      min-height: 102px;
      margin-bottom: 34px;
    }
  }

  &__giver-name {
    line-height: 24px;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }

  &__giver-title {
    line-height: 24px;
    font-size: 16px;
    color: $text-transperant;
    margin: 0px 0px 40px 0px;
    @include full-version {
      margin-bottom: 38px;
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    @include full-version {
      margin-bottom: 0;
    }

    & .feedback-navigation__item {
      height: 12px;
      background-color: transparent;
      border: 0;
      margin-right: 19.5px;
      padding: 0;
      @include full-version {
        margin-right: 13px;
        height: 8px;
      }

      &_right {
        margin-right: 0;
      }

      &-shape {
        border-radius: 50px;
        fill: $grey-circle;
        width: 12px;
        height: 12px;
        @include full-version {
          width: 8px;
          height: 8px;
        }
      }

      &_left .feedback-navigation__item-shape {
        fill: $blue;
      }
    }
  }
  
  &__img {
    @include full-version {
      position: absolute;
      bottom: 0;
      right: 26px;
      max-width: 273px;
      max-height: 243px;
    }
  }
}