.footer {
  width: 100%;
  position: relative;
  padding: 40px 0px 22px 0px;
}
@media screen and (min-width: 321px) {
  .footer {
    padding: 43px 0px 0px 0px;
    position: static;
  }
}
.footer-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
@media screen and (min-width: 321px) {
  .footer-main {
    flex-direction: row;
    padding-left: 130px;
    padding-bottom: 47px;
  }
}
.about-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px 40px 15px;
}
@media screen and (min-width: 321px) {
  .about-company {
    align-items: baseline;
    padding: 0;
  }
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 321px) {
  .footer-logo {
    flex-direction: row;
  }
}
.footer-logo__img {
  width: 60px;
}
@media screen and (min-width: 321px) {
  .footer-logo__img {
    margin-right: 15px;
  }
}
.footer-logo__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 31px;
  height: 51px;
}
@media screen and (min-width: 321px) {
  .footer-logo__text {
    align-items: baseline;
    margin: 0;
  }
}
.footer-logo__text_title {
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
}
.footer__logo-text_transperant {
  display: block;
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 45, 0.6);
}
.footer__about-company-text {
  display: none;
}
@media screen and (min-width: 321px) {
  .footer__about-company-text {
    width: 360px;
    height: 85px;
    line-height: 26px;
    font-size: 18px;
    margin-top: 26px;
    color: rgba(43, 41, 45, 0.6);
    margin-bottom: 25px;
    display: block;
  }
}
.downloads {
  display: flex;
}
.downloads__link {
  text-decoration: none;
  height: 40px;
}
.downloads__link:nth-child(1) {
  margin-right: 10px;
}
.footer-line-mobile {
  width: 100%;
  border-bottom: 1px solid rgba(227, 227, 227, 1);
}
@media screen and (min-width: 321px) {
  .footer-line-mobile {
    display: none;
  }
}
.footer-nav {
  display: flex;
  flex-direction: column;
  padding: 30px 15px 0px 15px;
}
@media screen and (min-width: 321px) {
  .footer-nav {
    display: flex;
    flex-direction: row;
    margin-top: 17px;
    margin-left: 126px;
    padding: 0;
  }
}
.footer-nav__product {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 321px) {
  .footer-nav__product {
    margin: 0px 29px 0px 0px;
    width: 265px;
    height: 231px;
  }
}
.footer-nav__column_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  margin: 0px 0px 18px 0px;
}
.footer-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-nav__list_product {
  height: 175px;
}
@media screen and (min-width: 321px) {
  .footer-nav__list_product {
    height: 185px;
  }
}
.footer-nav__list_company {
  height: 136px;
}
@media screen and (min-width: 321px) {
  .footer-nav__list_company {
    height: 185px;
  }
}
.footer-nav__list-item {
  color: rgba(43, 41, 45, 0.6);
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 7px;
}
@media screen and (min-width: 321px) {
  .footer-nav__list > .footer-nav__list-item {
    margin-bottom: 6px;
  }
  .footer-nav__list-item {
    line-height: 30px;
    vertical-align: text-top;
  }
}
.footer-line-desktop {
  display: none;
  width: 100%;
  border-bottom: 1px solid rgba(227, 227, 227, 1);
}
@media screen and (min-width: 321px) {
  .footer-line-desktop {
    display: block;
  }
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  padding: 0px 15px 0px 15px;
}
@media screen and (min-width: 321px) {
  .footer-bottom {
    width: 100%;
    flex-direction: row;
    height: 50px;
    align-items: center;
    padding: 13px 0px 15px 0px;
  }
}
.terms-and-conditions {
  width: 180px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 22px;
}
@media screen and (min-width: 321px) {
  .terms-and-conditions {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 130px;
  }
}
.footer-terms__item {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
  font-size: 14px;
  line-height: 22px;
  height: 22px;
}
.social-networks {
  height: 18px;
}
@media screen and (min-width: 321px) {
  .social-networks {
    margin-left: auto;
  }
}
.social-networks__item {
  text-decoration: none;
  padding-right: 20px;
  line-height: 18px;
}
@media screen and (min-width: 321px) {
  .social-networks__item:nth-last-child(1) {
    padding-right: 132px;
  }
}
