.footer {
  width: 100%;
  padding: 40px 0px 22px 0px;
  @include full-version {
    padding: 43px 0px 0px 0px;
  }
  &-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    @include full-version {
    flex-direction: row;
    padding: 0px 0px 47px 130px;
  }
  & .about-company {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px 40px 15px;
    @include full-version {
      align-items: baseline;
      padding: 0;
    }
    & .footer-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include full-version {
        flex-direction: row;
      }
      &__img {
        @include full-version {
          margin-right: 15px;
        }
      }
      &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 51px;
        margin: 20px 0px 31px 0px;
        @include full-version {
          align-items: baseline;
          margin: 0;
        }
        &-title {
          font-size: 20px;
          font-weight: 700;
          line-height: 25px;
        }
        &-transperant {
          font-size: 18px;
          line-height: 25px;
          color: $text-transperant;
        }
      }
    }
    &__text {
      display: none;
      @include full-version {
        display: block;
        font-size: 18px;
        color: $text-transperant;
        max-width: 360px;
        height: 85px;
        line-height: 26px;
        margin: 26px 0px 25px 0px;
      }
    }
    & .downloads {
      display: flex;
      &__link {
        height: 40px;
        &_apple {
          margin-right: 10px;
        }
      }
    }
  }
  & .footer-line-mobile {
    width: 100%;
    border-bottom: 1px solid $grey-line;
    @include full-version {
      display: none;
    }
  }
  & .footer-nav {
    display: flex;
    flex-direction: column;
    padding: 30px 15px 0px 15px;
    @include full-version {
      display: flex;
      flex-direction: row;
      margin: 17px 0px 0px 126px;
      padding: 0;
    }
    &__column_product {
      width: 100%;
      margin-bottom: 30px;
      @include full-version {
        width: 265px;
        height: 231px;
        margin: 0px 29px 0px 0px;
      }
    }
    &__column {
      &-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        margin: 0px 0px 18px 0px;
      }
    }
    &__column-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      &_product {
        height: 175px;
        @include full-version {
          height: 185px;
        }
      }
      &_company {
        height: 185px;
        @include full-version {
          height: 136px;
        }
      }
      &-item {
        font-size: 18px;
        line-height: 30px;
        color: $text-transperant;
        margin-bottom: 7px;
        @include full-version {
          vertical-align: text-top;
          margin-bottom: 6px;
        }
      }
    }
  }
  }
  &-line-desktop {
    display: none;
    @include full-version {
      display: block;
      width: 100%;
      border-bottom: 1px solid $grey-line;
    }
  }
}