
.footer {
  width: 100%;
  position: relative;
  padding: 40px 0px 22px 0px;
  @include full-version {
    padding: 43px 0px 0px 0px;
    position: static;
  }
  &-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  @include full-version {
    flex-direction: row;
    padding-left: 130px;
    padding-bottom: 47px;
  }
  & .about-company {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px 40px 15px;
    @include full-version {
      align-items: baseline;
      padding: 0;
    }
    & .footer-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include full-version {
        flex-direction: row;
      }
      &__img {
        @include full-version {
          margin-right: 15px;
        }
      }
      &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 31px;
        height: 51px;
        @include full-version {
          align-items: baseline;
          margin: 0;
        }
        &_title {
          line-height: 25px;
          font-size: 20px;
          font-weight: 700;
          display: inline-block;
        }
        &_transperant {
          display: block;
          font-size: 18px;
          line-height: 25px;
          color: $grey-transperant;
        }
      }
    }
    &__text {
      display: none;
      @include full-version {
        max-width: 360px;
        height: 85px;
        line-height: 26px;
        font-size: 18px;
        margin-top: 26px;
        color: $grey-transperant;
        margin-bottom: 25px;
        display: block;
      }
    }
    & .downloads {
      display: flex;
      &__link {
        text-decoration: none;
        height: 40px;
        &:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
  }
  & .footer-line-mobile {
    width: 100%;
    border-bottom: 1px solid $grey-line;
    @include full-version {
      display: none;
    }
  }
  & .footer-nav {
    display: flex;
    flex-direction: column;
    padding: 30px 15px 0px 15px;
    @include full-version {
      display: flex;
      flex-direction: row;
      margin-top: 17px;
      margin-left: 126px;
      padding: 0;
    }
    &__product {
      width: 100%;
      margin-bottom: 30px;
      @include full-version {
        margin: 0px 29px 0px 0px;
        width: 265px;
        height: 231px;
      }
    }
    &__column .footer-nav__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      margin: 0px 0px 18px 0px;
    }
    &__column .footer-nav__list {
      list-style-type: none;
      padding: 0;
      margin: 0;
      &_product {
        height: 175px;
        @include full-version {
          height: 185px;
        }
      }
      &_company {
        height: 136px;
        @include full-version {
          height: 185px;
        }
      }
      &-item {
        color: $grey-transperant;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 7px;
        @include full-version {
          margin-bottom: 6px;
          line-height: 30px;
          vertical-align: text-top;
        }
      }
    }
  }
  }
  &-line-desktop {
    display: none;
    width: 100%;
    border-bottom: 1px solid $grey-line;
    @include full-version {
      display: block;
    }
  }
  &-bottom {
    display: flex;
    flex-direction: column;
    padding: 0px 15px 0px 15px;
    @include full-version {
      width: 100%;
      flex-direction: row;
      align-items: center;
      padding: 13px 0px 15px 0px;
    }
    & .terms {
      width: 180px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      height: 22px;
      @include full-version {
        margin: 0px 0px 0px 130px;
      }
      &__item {
        text-decoration: none;
        color: $grey-transperant;
        font-size: 14px;
        line-height: 22px;
        height: 22px;
      }
    }
    & .social-networks {
      height: 18px;
      @include full-version {
        margin-left: auto;
      }
      &__item {
        text-decoration: none;
        padding-right: 20px;
        line-height: 18px;
      }
      &__item:nth-last-child(1) {
        @include full-version {
          padding-right: 132px
        }
      }
    }
  }
}