.footer {

  &-bottom {
    display: flex;
    flex-direction: column;
    padding: 0px 15px 0px 15px;
    @include full-version {
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding: 13px 0px 15px 0px;
    }

    & .terms {
      display: flex;
      justify-content: space-between;
      width: 180px;
      height: 22px;
      margin-bottom: 30px;
      @include full-version {
        margin: 0px 0px 0px 130px;
      }

      &__item {
        font-size: 14px;
        color: $text-transperant;
        line-height: 22px;
        text-decoration: none;
      }
    }

    & .social-networks {
      height: 18px;
      @include full-version {
        margin-left: auto;
      }

      &__item {
        line-height: 18px;
        text-decoration: none;
        padding-right: 20px;
        
        &_linkedin {
          @include full-version {
            margin-right: 132px
        }
      }
    }
  }
}
}