.hiring {
  padding: 50px 15px;
  @include full-version {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 106px 325px 110px 325px;
  }
  &__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    min-height: 45px;
    line-height: 40px;
    margin: 0px 0px 18px 0px;
    letter-spacing: -0.357143px;
    @include full-version {
      max-width: 555px;
      min-height: 62px;
      font-size: 56px;
      line-height: 56px;
      margin-bottom: 20px;
      letter-spacing: -0.5px;
    }
  }
  &__description {
    text-align: center;
    font-size: 24px;
    min-height: 136px;
    line-height: 34px;
    margin: 0px 0px 30px 0px;
    @include full-version {
      max-width: 555px;
      min-height: 72px;
      margin-bottom: 28px;
    }
  }
  &__button {
    margin-bottom: 39px;
    @include full-version {
      max-width: 247px;
      margin-bottom: 110px;
    }
  }
  &__vacancy {
    max-width: 100%;
    min-height: 140px;
    border: 1px solid $border;
    border-radius: 8px;
    margin-bottom: 15px;
    @include full-version {
      width: 750px;
      min-height: 81px;
      margin-bottom: 20px;
    }
    &_developer-ny {
      margin-bottom: 0;
    }
  }
  & .vacancy {
    display: flex;
    &__brief {
      flex: 7;
      @include full-version {
        flex: 14.744;
      }
    }
    & .position {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 19px 20px;
      @include full-version {
        flex-direction: row;
        justify-content: flex-start;
        padding: 26px 0px 26px 25px;
      }
      &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        margin: 0;
        @include full-version {
          flex: 2;
          min-height: 29px;
        }
      }
      &__location {
        font-size: 16px;
        line-height: 22px;
        color: $text-transperant;
        min-height: 26px;
        margin: 0;
        @include full-version {
          flex: 1;
          font-size: 18px;
          line-height: 24px;
          margin-top: 2px;
        }
      }
    }
    &__button {
      display: flex;
      flex: 1;
      border: none;
      background-color: $dark-grey-background;
      @include full-version {
        background-color: transparent;
      }
      &-arrow {
        display: block;
        margin: auto;
        width: 7px;
        height: 12px;
        background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png");
      }
    }
    &:hover {
      @include full-version {
        background-color: $blue;
        cursor: pointer;
      }
      & .vacancy__button {
        &-arrow {
          @include full-version {
            background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png");
          }
        }
      }
      & .position__title {
        @include full-version {
          color: $white;
        }
      }
      & .position__location {
        @include full-version {
          color: $white;
        }
      }
    }
  }
}