.inbox-feature {
  background-color: $light-pink-background;
  padding: 50px 15px 48px 15px;
  @include full-version {
    display: flex;
    padding: 115px 99px 101px 193px;
  }
  & .inbox-img {
    margin: 0px 0px 32px 0px;
    @include full-version {
      margin: 27px 0px 0px 0px;
    }
    &__pic {
      max-width: 100%;
      @include full-version {
        width: 425px;
        margin-bottom: 15px;
      }
    }
    &__subtitle {
      display: none;
      @include full-version {
        display: block;
        text-align: center;
        height: 22px;
        font-size: 14px;
        line-height: 22px;
        color: $text-transperant;
      }
    }
  }
  &__text {
    &-small-title {
      font-size: 22px;
      font-weight: 700;
      color: $orange-text;
      line-height: 34px;
      margin: 0px 0px 17px 0px;
      @include full-version {
        margin: 0px 0px 24px 192px;
      }
    }
    &-big-title {
      font-size: 40px;
      font-weight: 700px;
      min-height: 80px;
      line-height: 40px;
      margin: 0px 0px 18px 0px;
      letter-spacing: 
      -0.357143px;
      @include full-version {
        max-width: 462px;
        height: 112px;
        line-height: 56px;
        font-size: 56px;
        margin: 0px 0px 30px 190px;
      }
    }
    &-paragraph {
      font-size: 24px;
      min-height: 205px;
      line-height: 34px;
      margin: 0px 0px 30px 0px;
      @include full-version {
        max-width: 461px;
        min-height: 102px;
        margin: 0px 0px 44px 192px;
      }
    }
    & .inbox-feature__feedback {
      min-height: 323px;
      background: $white;
      border-bottom: 4px solid $blue-line;
      padding: 30px 20px 28px 20px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
      @include full-version {
        max-width: 519px;
        min-height: 213px;
        margin-left: 164px;
        padding: 30px 30px 24px 29px;
      }
      &-text {
        font-size: 20px;
        min-height: 169px;
        line-height: 28px;
        margin: 0px 0px 26px 0px;
        @include full-version {
          max-width: 459px;
          min-height: 85px;
        }
      }
      & .feedback-giver {
        display: flex;
        align-items: flex-start;
        &__pic {
          margin-top: 3px;
        }
        &__identity {
          margin-left: 11px;
          min-height: 66px;
          @include full-version {
            max-width: 225px;
            min-height: 44px;
          }
          & > .feedback-giver__name {
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            margin: 0;
          }
          & > .feedback-giver__title {
            font-size: 16px;
            line-height: 22px;
            color: $text-transperant;
            margin: 0px;
          }
        }
      }
    }
  }
}