.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $grey-background;
  padding: 50px 15px;
  @include full-version {
    flex-direction: row;
    padding: 73px 228px 72px 224px;
  }
  &__img {
    width: 200px;
    @include full-version {
      width: 269.41px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  &__text .order__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    max-width: 100%;
    height: 80px;
    line-height: 40px;
    margin: 40px 0px 18px 0px;
    letter-spacing: -0.25px;
    @include full-version {
      text-align: left;
      height: 48px;
      max-width: 555px;
      margin: 33px 0px 0px 122.59px;
    }
  }
  &__text .order__paragraph {
    font-size: 22px;
    width: 100%;
    height: 167px;
    line-height: 32px;
    margin: 0px 0px 40px 0px;
    @include full-version {
      height: 64px;
      max-width: 555px;
      margin: 12px 0px 26px 121.59px;
    }
  }
  &__text .order__action-buttons {
    display: flex;
    flex-direction: column;
    @include full-version {
      flex-direction: row;
      margin-left: 123.59px;
    }
    &_email {
      text-align: center;
      font-size: 18px;
      height: 48px;
      width: 100%;
      border: 1px solid $border;
      border-radius: 2px;
      margin-bottom: 12px;
      @include full-version {
          flex-grow: 1;
          text-align: left;
          margin: 0;
          padding-left: 15px;
    }
    &::placeholder {
      color: $text;
    }
    }
    &_get-started {
      margin-bottom: 10px;
    @include full-version {
      margin: 0px 0px 0px 10px;
    }
    }
  }
  &__text .order__terms {
    font-size: 14px;
    height: 44px;
    line-height: 22px;
    color: $text-transperant;
    margin: 0;
    @include full-version {
      max-width: 497px;
      margin-top: 10px;
      margin-left: 122.59px;
    }
  }
}