.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
  background-color: $grey-background;
  @include full-version {
    flex-direction: row;
    padding: 73px 228px 72px 224px;
  }
  &__img {
    width: 200px;
    @include full-version {
      width: 269.41px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  &__text .order__title {
    text-align: center;
    max-width: 100%;
    height: 80px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin: 40px 0px 18px 0px;
    letter-spacing: -0.25px;
    @include full-version {
      text-align: left;
      height: 48px;
      max-width: 555px;
      margin: 33px 0px 0px 122.59px;
    }
  }
  &__text .order__paragraph {
    width: 100%;
    height: 167px;
    font-size: 22px;
    line-height: 32px;
    margin: 0px 0px 40px 0px;
    @include full-version {
      height: 64px;
      max-width: 555px;
      margin: 12px 0px 26px 121.59px;
    }
  }
  &__text .order__action-buttons {
    display: flex;
    flex-direction: column;
    @include full-version {
      flex-direction: row;
      margin-left: 123.59px;
    }
  }
  &__text .order__action-buttons > .order__action-buttons_email {
    text-align: center;
    height: 48px;
    width: 100%;
    margin-bottom: 12px;
    border: 1px solid $border;
    border-radius: 2px;
    font-size: 18px;
    @include full-version {
      flex-grow: 1;
      text-align: left;
      margin: 0;
      padding-left: 15px;
    }
    &::placeholder {
      color: $text;
    }
  }
  &__text .order__action-buttons > .order__action-buttons_get-started {
    margin-bottom: 10px;
    @include full-version {
      margin: 0px 0px 0px 10px;
    }
  }
  &__text .order__terms {
    height: 44px;
    font-size: 14px;
    line-height: 22px;
    color: $text-transperant;
    margin: 0;
    @include full-version {
      max-width: 497px;
      margin-top: 10px;
      margin-left: 122.59px;
    }
    &-link {
      color: $blue;
    }
  }
}