.product-versions {
  padding: 50px 15px;
  @include full-version {
    padding: 110px 130px 110px 126px;
  }
  &__general {
    margin-bottom: 40px;
    @include full-version {
      margin-bottom: 26px;
      display: flex;
    }
    &-text {
      margin-bottom: 40px;
      @include full-version {
        margin: 13px 193px 0px 0px;
      }
      &-title_blue {
        margin: 0;
        margin-bottom: 17px;
        height: 34px;
        line-height: 34px;
        font-size: 22px;
        font-weight: 700;
        color: $light-blue;
        @include full-version {
          margin: 0px 0px 24px 2px;
        }
      }
      &-title_big {
        margin: 0;
        margin-bottom: 18px;
        min-height: 80px;
        line-height: 40px;
        font-weight: 700;
        font-size: 40px;
        letter-spacing: -0.357143px;
        @include full-version {
          margin-bottom: 30px;
          max-width: 462px;
          min-height: 112px;
          line-height: 56px;
          font-size: 56px;
          letter-spacing: -0.5px;
        }
      }
      &-paragraph {
        margin: 0;
        margin-bottom: 30px;
        min-height: 167px;
        line-height: 34px;
        font-size: 24px;
        @include full-version {
          margin: 0px 0px 39px 2px;
          min-height: 102px;
          max-width: 461px;
        }
      }
      &-button {
        max-width: 160px;
        margin: 0;
        @include full-version {
          margin-left: 4px;
      }
    }
  }
    &-figure {
      margin: 0;
      &-pic {
        margin-bottom: 17px;
        max-width: 100%;
        @include full-version {
          margin-bottom: 15px;
          width: 425px;
        }
      }
      &-text {
        min-height: 22px;
        line-height: 22px;
        font-size: 14px;
        text-align: center;
        color: $grey-transperant;
      }
    }
}
  &__mob-line {
    max-width: 150px;
    border-top: 1px solid $grey-line;
  }
  &__options {
    margin-top: 33px;
    @include full-version {
      display: flex;
      margin: 41px 0px 0px 4px;
    }
    &-unit {
      margin: 0;
      min-height: 138px;
      line-height: 26px;
      font-size: 18px;
      position: relative;
      @include full-version {
        max-width: 360px;
        min-height: 115px;
      }
      &-link {
        color: $blue;
        position: absolute;
        bottom: 6px;
      }
      &:first-child {
        margin-bottom: 33px;
        @include full-version {
          margin: 0px 30px 0px 0px;
        }
      }
      &:nth-child(2) {
        margin-bottom: 32px;
        @include full-version {
          margin: 0px 30px 0px 0px;
        }
      }
      &:last-child {
        min-height: 111px;
        & > .product-versions__options-unit-link {
          bottom: 6px;
          left: 0px;
        }
       }
     }
   }
}