.service-description {
  width: 100%;
  padding: 46px 15px;
  background-color: rgba(244, 245, 247, 1);
}
.service-description__article {
  width: 100%;
  height: 136px;
  display: flex;
  flex-direction: column;
}
.service-description__article:nth-child(1) {
  margin-bottom: 20px;
  height: 180px;
  justify-content: space-around;
}
.service-description__title {
  margin: 0px;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}
.service-description__paragraph {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
@media screen and (min-width: 321px) {
  .service-description {
    width: 100%;
    display: flex;
    padding: 77px 131px 76px 130px;
  }
  .service-description__article {
    height: 102px;
    flex-direction: column;
  }
  .service-description__article:nth-child(1) {
    margin-right: 29px;
    height: 102px;
    margin-bottom: 0;
  }
  .service-description__paragraph {
    margin-top: auto;
  }
}
