.service-description {
  width: 100%;
  background-color: $grey-background;
  padding: 46px 15px;
  @include full-version {
    display: flex;
    padding: 77px 131px 76px 130px;
  }
  &__article {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180px;
    @include full-version {
      flex-direction: column;
      height: 102px;
      width: 555px;
      margin-right: 29px;
    }
    &_forwhom {
      height: 136px;
      @include full-version {
        height: 102px;
        margin-right: 0;
      }
    }
    & .service-description__title {
      font-weight: 700;
      font-size: 22px;
      line-height: 32px;
      margin: 0px;
    }
    & .service-description__paragraph {
      font-size: 22px;
      line-height: 32px;
      margin: 0;
      @include full-version {
        margin-top: auto;
      }
    }
  }
}