
.headline {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  @include full-version {
    margin: 76px 0px 126px 0px;
    width: 1140px;
  }
  &-content {
    padding: 0px 15px 33px 15px;
    @include full-version {
      z-index: 1;
      padding: 0;
    }
    &__title {
      margin: 0;
      margin-bottom: 19px;
      font-weight: 700;
      line-height: 50px;
      font-size: 50px;
      letter-spacing: -0.3125px;
      min-height: 205px;
      @include full-version {
        max-width: 754px;
        min-height: 165px;
        line-height: 78px;
        font-size: 80px;
        margin: 0px 0px 34px 0px;
        letter-spacing: -0.5px;
      }
    }
    &__description {
      margin: 0px 0px 30px 0px;
      font-size: 24px;
      line-height: 34px;
      min-height: 172px;
      @include full-version {
        max-width: 456px;
        min-height: 102px;
        margin-bottom: 58px;
      }
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      @include full-version {
        flex-direction: row;
      }
    }
  }
  &__banner {
    margin-bottom: 36px;
    width: 100%;
    @include full-version {
      margin-top: 8px;
      position: absolute;
      right: 25px;
      margin-bottom: 0;
      max-width: 796px;
    }
  }
}