.top-section {
  background-color: #f3c6bd;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  height: 64px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
}
.logo-header {
  display: flex;
}
.logo__image {
  margin: 8px 13px 8px 15px;
  width: 48px;
  height: 48px;
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__text_title {
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
}
.logo__text_description {
  display: none;
}
.header-nav {
  display: none;
}
.header-nav__item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  padding-right: 41.8px;
}
.header-nav__item:nth-last-child(1) {
  padding-right: 0;
}
.header-nav__item_selected {
  font-weight: 700;
}
.nav-arrow {
  background: url(../pictures/arrow-down.png);
  display: inline-block;
  height: 5px;
  width: 8px;
  margin-left: 11px;
  vertical-align: middle;
}
.header-button {
  display: none;
}
.header__mobile-menu-section {
  width: 59px;
  height: 64px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  margin-left: auto;
  display: flex;
}
.header__mobile-menu-button {
  margin: auto;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 321px) {
  .top-section {
    padding-top: 39px;
    height: 710px;
  }
  .header {
    width: 100%;
    height: 62px;
    margin: 0;
    display: flex;
    background-color: rgba(243, 198, 189, 1);
  }
  .logo-header {
    padding-left: 130px;
  }
  .logo__image {
    margin: 0px 15px 0px 0px;
    width: 60px;
    height: 60px;
  }
  .logo__text_description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
  }
  .header-nav {
    margin-left: auto;
    padding-top: 7px;
    padding-right: 56px;
    display: flex;
  }
  .header-button {
    display: block;
    margin-right: 130px;
    background-color: #3040c4;
    color: #fff;
    width: 160px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 2px;
  }
  .header__mobile-menu-section {
    display: none;
  }
  .header__mobile-menu-button {
    display: none;
  }
}
