.top-section {
  background-color: $pink-background;
  width: 100%;
  @include full-version {
    position: relative;
    min-height: 710px;
    padding-top: 39px;
  }
}
.header {
  display: flex;
  align-items: center;
  min-height: 64px;
  max-width: 100%;
  background-color: $white;
  @include full-version {
    min-height: 62px;
    width: 1140px;
    background-color: $pink-background;
    margin: 0 auto;
  }
  & .logo {
    display: flex;
    &__image {
      display: none;
      @include full-version {
        display: inline;
        max-width: 60px;
        min-height: 60px;
        margin: 2px 15px 0px 0px;
      }
      &_mobile {
        max-width: 48px;
      min-height: 48px;
      margin: 8px 13px 8px 15px;
      @include full-version {
        display: none;
      }
      }
      }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include full-version {
        max-width: 222px;
      }
      &_title {
        font-size: 20px;
        font-weight: 700;
        max-width: 111px;
        line-height: 25px;
      }
      &_description {
        display: none;
        @include full-version {
          display: block;
          font-size: 18px;
          line-height: 25px;
          color: $text-transperant;
          opacity: 0.6;
        }
      }
    }
  }
  &__nav {
    display: none;
    @include full-version {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 292px;
      margin-left: auto;
      margin-right: 56px;
    }
      &-item {
        font-size: 18px;
        color: $text;
        text-decoration: none;
        line-height: 25px;
        &_library {
          padding-right: 0;
          & .header__nav-arrow  {
            display: inline-block;
            vertical-align: middle;
            height: 5px;
            width: 8px;
            margin-left: 11px;
          }
        }
        &_selected {
          font-weight: 700;
        }
      }
    }
    &__button {
      display: none;
      @include full-version {
        display: block;
        width: 160px;
        height: 48px;
        font-size: 18px;
        font-weight: 700;
        background-color: $blue;
        color: $white;
        border: none;
        border-radius: 2px;
      }
    }
    &__mobile-menu {
      display: flex;
      margin-left: auto;
      width: 59px;
      height: 64px;
      border-left: 1px solid $grey-line;
      @include full-version {
        display: none;
      }
      &-button {
        margin: auto;
        background-color: transparent;
        border: none;
      }
    }
  }