
.headline {
  display: flex;
  flex-direction: column;
  @include full-version {
    padding: 76px 0px 0px 126px;
    position: relative;
  }
  &-content {
    padding: 35px 15px 33px 15px;
    @include full-version {
      position: absolute;
      z-index: 1;
      padding: 0;
    }
    &__title {
      margin: 0;
      font-weight: 700;
      line-height: 50px;
      font-size: 50px;
      margin-bottom: 24px;
      letter-spacing: -0.3125px;
      min-height: 205px;
      @include full-version {
        max-width: 754px;
        min-height: 165px;
        line-height: 78px;
        font-size: 80px;
        margin-bottom: 34px;
        letter-spacing: -0.5px;
      }
    }
    &__description {
      margin: 0px 0px 30px 0px;
      font-size: 24px;
      line-height: 34px;
      min-height: 172px;
      @include full-version {
        max-width: 456px;
        min-height: 102px;
        margin-bottom: 58px;
      }
    }
    &__buttons {
      display: flex;
      flex-direction: column;
      @include full-version {
        flex-direction: row;
      }
      & .learn-more-button {
        width: 100%;
        min-height: 48px;
        color: $blue;
        border-radius: 2px;
        font-size: 18px;
        font-weight: 700;
        border: none;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.05) 0%,
            rgba(255, 255, 255, 1e-5) 100%
          ),
          $white;
        background-blend-mode: overlay, normal;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
          inset 0px 1px 0px rgba(255, 255, 255, 0.1);
          @include full-version {
            max-width: 158px;
            margin-left: 10px;
          }
      }
    }
  }
  &-banner {
    padding-bottom: 36px;
    width: 100%;
    @include full-version {
      margin-top: 8px;
      position: absolute;
      right: 25px;
      margin-bottom: 77px;
      padding-bottom: 0;
      max-width: 796px;
      max-height: 448px;
    }
  }
}