$text: rgba(43, 41, 45, 1);
$grey-transperant: rgba(43, 41, 45, 0.6);
$grey-line: rgba(43, 41, 45, 0.15);
$border: rgba(43, 41, 45, 0.2);
$grey-background: 
rgba(244, 245, 247, 1);
$green: rgba(0, 155, 77, 1);
$blue: rgba(48, 64, 196, 1);
$blue-line: 
rgba(1, 133, 208, 1);
$white: rgba(255, 255, 255, 1);
$pink-background: rgba(243, 198, 189, 1);
$light-pink-background: rgba(252, 240, 227, 1);
$orange-text: 
rgba(241, 89, 43, 1);